@media only screen and (max-width: 768px) {
  footer {
    display: none;
  }
  * {
    margin-left: 0%;
    margin-right: 0%;
  }
  [class*="nav-bar-options"] {
    left: 5% !important;
  }
  [class*="title"] {
    font-weight: 700;
    margin-top: 150px;
    text-align: left;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 22px;
    color: #373737;
  }
  [class*="tags"] {
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    margin-left: 0%;
    margin-right: 0%;
    color: #9F9F9F;
  }
  [class*="date"] {
    font-weight: 300;
    display: inline;
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: #9F9F9F;
    margin-left: 0%;
  }
  img {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  [class*="articleDate"] {
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-top: 0px !important;
  }

  [class*="articleTitle"] {
    margin-top: 60px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  [class*="articleTags"] {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  [class*="articleWriting"] {
    margin-left: 15% !important;
    margin-right: 15% !important;
    font-size: 16px !important;
  }

  [class*="articleImg"] {
    margin-left: 15% !important;
    margin-right: 15% !important;
    max-width: 17em !important;
    width: 100% !important;
  }

  [class*="paragraph"] {
    font-weight: 300;
    margin-top: 20px;
    display: block;
    margin-left: 0% !important;
    margin-right: 0% !important;
    text-align: left;
    color: #585858;
    line-height: 1.6;
  }

  [class*="sourceInfo"] {
    font-size: 13px;
  }

  [class*="ul"] {
    font-size: 16px !important;
  }

  [class*="shareArticle"] {
    margin-right: 20% !important;
    margin-bottom: 30% !important;
  }

  [class*="sourceImage"] {
    width: 100%;
    margin-left: 0%;
  }

  [class*="sourceImages"] {
    width: 100%;
    margin-left: 0%;
    border: 5px solid #555;
  }

  [class*="fa"] {
    padding: 5% !important;
  }
}

* {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #F1F1F1;
  margin: 0;
}

/*nav bar*/
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #FFF;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 7px;
  background: #d1d1d1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 7px;
  background: #585858;
  width: 0%;
}

div {
  word-wrap: break-word;
}

.logo {
  width: 9%;
}

.nav-bar-options {
  display: flex;
  position: fixed;
  top: 2%;
  left: 15%;
}

/*footer*/
.footer-text {
  color: #9F9F9F;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

/*content*/
.articleTitle {
  font-weight: 700;
  margin-top: 150px;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 45px;
  color: #373737;
}

.articleTags {
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  margin-left: 30%;
  margin-right: 30%;
  color: #9F9F9F;
}

.tags {
  margin-top: 0.2em;
}

.date {
  margin-top: 0;
}
.title {
  margin: 0;
}

.articleDate {
  font-weight: 300;
  display: inline;
  margin-top: 10px;
  float: left;
  font-size: 16px;
  color: #9F9F9F;
  margin-left: 30%;
}

.dateAndShare {
  display: inline;
}

.articleImg {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.articleImgLarger {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.b2sImg {
  width: 100%;
  border-radius: 30px;
}

.articleWriting {
  font-weight: 300;
  margin-top: 80px;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  color: #585858;
  font-size: 20px;
  line-height: 1.6;
}

.shareArticle {
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}

.paragraph {
  margin-top: 40px;
}

blockquote {
  border-left: 5px solid #282B2C;
  padding-left: 1%;
}

.quote {
  font-style: italic;
}

.source {
  margin-top: 50px;
  font-size: 15px;
  font-style: italic;
}

sup {
  font-size: 12px;
}

.a {
  text-decoration: underline;
  color: #585858;
}

.a:hover {
  text-decoration: underline;
  color: #000;
}

.recommendArticle {
  text-align: left;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  color: #9F9F9F;
}

/* Share icons */
.shareArticle {
  text-align: right;
  margin-top: 1em;
  margin-left: 30%;
  margin-right: 30%;
  color: #9F9F9F;
  font-size: 15px;
}

/*masks101 content image*/
.Masks101Img {
  width: 100%;
  height: auto;
}

.share-imessage {
  padding: 0.5%;
  font-size: 15px;
  width: 1.1%;
  border-radius: 50%;
}

.fa {
  padding: 2%;
  font-size: 20px;
  margin: 2px;
  width: 1.1%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #7C7F84;
}

/* Facebook */
.fa-facebook {
  color: #9F9F9F;
}

/* Twitter */
.fa-twitter {
  color: #9F9F9F;
}

/* Email */
.fa-envelope {
  color: #9F9F9F;
}

.footer-img {
  height: 8em;
  margin-left: 9em;
  margin-bottom: 2em;
  text-align: left;
  display: inline;
}
.footer-ul {
  display: flex;
  float: right;
  margin-top: 5em;
  list-style-type: none;
  margin-top: 3em;
  margin-right: 9em;
}
.footer:hover {
  opacity: 50%;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 21px;
  padding-left: 2em;
}
.sourceImage {
  width: 60%;
  margin-left: 20%;
}

.sourceImages {
  width: 60%;
  margin-left: 20%;
  border: 5px solid #555;
}
